body, html {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: darkcyan;
}

#banner {
    width: 100vw;
    height: 350px;
    background-image: url('src\banner.jpg');
    /*background-color: #34495e;*/
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0 20px;
    object-fit: fill;
}

#profile-info {
    display: flex;
    align-items: center;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: contain;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    margin-right: 20px;
}

#name h1 {
    margin: 0;
    font-size: 24px;
    color: white;
}

#name h2 {
    margin: 0;
    font-size: 16px;
    color: #ecf0f1;
}

.content {
    display: flex;
    min-height: 100vh;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar {
    width: 30%;
    background-color: rgb(20, 27, 32);
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    font-size: 16px;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sidebar button {
    background-color: rgb(48, 58, 65);
    color: white;
    padding: 15px;
    margin-bottom: 10px;
    border: none;
    font-size: 16px;
    cursor: pointer;
    text-align: left;
    width: 100%;
}

.sidebar button:hover {
    background-color: rgb(27, 27, 29);
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    background-color: transparent;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.hidden-section {
    display: none;
}

.project-button {
    display: flex;
    flex-direction: column; /* Stack image and text vertically */
    align-items: center;
    text-decoration: none;
    background-color: #1c1c1e; /* Background color for buttons */
    color: white; /* Text color */
    border-radius: 10px;
    overflow: hidden; /* Ensure image and text stay within rounded corners */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
    transition: transform 0.3s ease, box-shadow 0.3s ease; 
    width: 100px;
    cursor: pointer; 
    padding: 10px;
}

/* Scale and elevate button on hover */
.project-button:hover {
    transform: translateY(-5px); /* Slight lift on hover */
    transform: translateX(-5px);
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3); /* Darker shadow */
}

/* Image within the project button */
.project-image {
    width: 100px;
    height: 100px; /* Fixed height for images */
    object-fit: cover; /* Cover entire container without stretching */
}
