body, html{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

#banner{
    height: 130px;
    background-image: url('src\banner.jpg');
    background-size: cover;
    background-position: center;
    display: flex;
    align-items: center;
    position: relative;
}

#banner-content{
    display:flex;
    align-items: center;
    position: absolute;
    bottom: -50px;
}

.profile-image{
    width:100px;
    height: 100px;
    border-radius: 50%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#name{
    margin-left: 0;

}
content{
    display: flex;
    padding: 60px;
}

.sidebar {
    width: 30%;
    padding: 20px;
    color:darkcyan;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}